{% extends 'base.html' %}

{% block title %}Shipping & Returns - Ariyan Footwear{% endblock %}

{% block content %}
<div class="container " style="margin-top: 70px; margin-bottom: 20px;">
    <br>
    <h2>Shipping & Returns</h2>
    <p><strong>Currently, we don’t have any Return/Refund policies. Only exchange is possible.</strong></p>
    <h4>Delivery Information</h4>
    <ul>
        <li>Delivery Inside Dhaka: Deliver within 3 business days</li>
        <li>Delivery Outside Dhaka: Deliver within 5 business days</li>
        <li>Inside Dhaka, delivery fee is Free</li>
        <li>Outside Dhaka, delivery fee is Free</li>
        <li>Orders placed after 1 PM will be processed the next working day</li>
        <li><strong>Note:</strong> Please note that we are associated with a third-party shipping company to deliver orders. Hence, the delivery process is not completely in our control. We apologize for any damage and promise to compensate for it.</li>
    </ul>
</div>
{% endblock %}